#editFormTrigger {
    display: none;
}

#editFormHolder {
    position: fixed;
    right: 0px;
    width: 49%;
}

#editFormHolder .label {
    background-color: darkturquoise;
    color: yellow;
    width: 84%;
    padding: 2%;
    font-size: x-large;
}

#editFormHolder .label span {
    display: none;
}

.editForm textarea {
    resize: none;
    height: 100px;
}

.editForm input[type="submit"], .editForm input[type="button"] {
    width: 49%;
}

.editForm input, .editForm textarea {
    width: 95%;
    padding: 2%;
    margin-bottom: 3%;
    background-color: yellow;
    border: 1px dashed turquoise;
}

form {
    width: 84%;
    padding: 2%;
    background-color: darkturquoise;
    margin-bottom: 5%;
}

#contentHolder {
    width: 50%;
    margin-left: 2%;
}

#longestPost {
    margin-bottom: 5%;
    color: azure;
    width: 81%;
    padding: 3%;
    background-color: deepskyblue;
}

.postContentHolder {
    width: 80%;
    border: 1px solid turquoise;
    padding: 0 4% 5% 4%;
    background-color: yellow;
}

.postContentHolder h3 {
    color: #555;
}

.postContentHolder .body {
    color: #444;
    margin-bottom: 5%;
    word-break: break-all;
}

.postContentHolder .actionsHolder {
    float: right;
    width: 45%;
    text-align: right;
}

.actionsHolder a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 5% 1%;
    padding: 1% 2%;
    background-color: #999;
    color: yellow;
    border: none;
    width: 20%;
}

#contentHolder div:first-of-type .postContentHolder {
    background-color: pink;
}

#contentHolder div:first-of-type .postContentHolder a {
    color: pink;

}

.postHolder {
    width: 99%;
    margin-bottom: 5%;
}

.postHolder .imageHolder {
    position: relative;
    width: 20%;
    margin-top: -10%;
    margin-left: 78%;
    border: 1px dashed turquoise;
}

.postHolder img {
    width: 100%;
}

#responseBlock {
    width: 95%;
}

.responseMessage {
    padding: 2%;
    margin-bottom: 5%;
    width: 83%;
}

#contentHolder form .responseMessage {
    width: 95%;
}

.responseMessage i {
    float: right;
    font-family: fantasy;
    color: antiquewhite;
    cursor: pointer;
}

.responseMessage.success {
    color: limegreen;
    background-color: forestgreen;
}

.responseMessage.error {
    color: crimson;
    background-color: pink;
}

.responseMessage.error i {
    color: crimson;
}

/* TODO: mobile versions */

@media only screen and (max-width: 768px) {
    /* For tablets: */

}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    #editFormTrigger {
        display: block;
        position: fixed;
        padding: 2% 3%;
        background-color: turquoise;
        right: 0;
    }
    #editFormTrigger span {
        color: white;
        font-size: x-large;
        font-weight: bold;
    }

    #editFormHolder {
        display: none;
        background: rgba(0, 0, 0, 0.85);
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    #editFormHolder .label, #editFormHolder form {
        margin: 20px auto;
    }

    #editFormHolder .label span {
        display: block;
        float: right;
        font-family: fantasy;
    }

    #contentHolder {
        width: 95%;
    }

    #longestPost {
        margin: 6%;
        width: 82%;
    }

    .postHolder {
        width: 94%;
        margin: 1% 3%;
    }

    .postHolder .imageHolder {
        z-index: 1;
    }

    .postContentHolder {
        width: 85%;
        margin: 0 auto;
        z-index: 0;
    }

    .responseMessage {
        margin: 0 auto;
    }
}